body {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
head {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.nav-bar {
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: #4caf4f;
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 16px 40px;
}

.logo {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    fill: #486856;
    overflow: hidden;
    max-width: 100%;
    margin: auto 0;
}
.nav-buttons {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: 20px;
    padding: 12px 0;
}
.nav-button {
    box-sizing: border-box;
    color: #fff;
    margin: auto 0;
    font: 700 16px Inter, sans-serif;
}
.high-level {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: 8px;
}
.arrow {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
}
.deep-dive {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    display: flex;
    gap: 8px;
}
.missions {
    box-sizing: border-box;
    align-items: center;
    background-color: rgba(81, 171, 59, 0.15);
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 40px 80px;
}
@media (max-width: 991px) {
    .missions {
        max-width: 100%;
        padding: 0 20px;
    }
}
.mission-title {
    color: #3f6735;
    white-space: nowrap;
    justify-content: center;
    border-bottom: 2px solid #3f6735;
    padding: 8px 0;
    font: 600 40px Inter, sans-serif;
    font-weight: 700;
    color: rgba(63, 103, 53, 1)
}

.mission-holder {
    box-sizing: border-box;
    gap: 20px;
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0;
}

.mission-box {
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.12);
    background-color: rgba(81, 171, 59, 0.2);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.mission-header {
    box-sizing: border-box;
    justify-content: center;
    align-items: start;
    border-bottom: 1px solid #51ab3b;
    display: flex;
    flex-direction: column;
    padding: 10px 80px 10px 10px;
}

.leaf-img {
    aspect-ratio: 1.06;
    object-fit: contain;
    object-position: center;
    width: 37px;
    overflow: hidden;
    max-width: 100%;
}
.mission-titles {
    box-sizing: border-box;
    color: #51ab3b;
    margin-top: 10px;
    white-space: nowrap;
    font: 700 18px Inter, sans-serif;
}

.mission-content {
    box-sizing: border-box;
    color: #5d5d5d;
    margin-top: 20px;
    font: 400 16px/50px Inter, sans-serif;
}
.functions {
    box-sizing: border-box;
    align-items: start;
    background-color: rgba(81, 171, 59, 0.15);
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 45px 80px;
}

.function-title {
    box-sizing: border-box;
    color: #3f6735;
    margin-top: 6px;
    font: 900 25px Inter, sans-serif;
}
.outer-function-container {
    justify-content: space-between;
    align-self: stretch;
    border-radius: 16px;
    box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    margin-top: 40px;
    padding: 50px 80px;
}

.inner-function-container {
    gap: 20px;
    display: flex;
}

.func-img-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    aspect-ratio: 1;
    justify-content: center;
    margin: auto 0;
}

.function-img {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 100%;
    overflow: hidden;
}
.func-text-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 61%;
    margin-left: 20px;
}

.function-text {
    box-sizing: border-box;
    color: #000;
    margin: auto 0;
    font: 600 24px/50px Inter, sans-serif;
}

.persona-container {
    box-sizing: border-box;
    align-items: flex-start;
    background-color: rgba(81, 171, 59, 0.15);
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 45px 80px;
}

.persona-title {
    box-sizing: border-box;
    color: #3f6735;
    margin-top: 6px;
    font: 900 25px Inter, sans-serif;
}
.persona {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    box-shadow: 2px 4px 4px 4px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    display: flex;
    margin-top: 40px;
    gap: 20px;
    padding: 50px 80px;
}

.persona-content {
    color: #000;
    flex-grow: .1;
    flex-basis: fit-content;
    margin: auto 0;
    font: 600 24px/50px Inter, sans-serif;
}

.persona-img {
    aspect-ratio: 0.47;
    object-fit: contain;
    object-position: center;
    width: 188px;
    overflow: hidden;
    max-width: 100%;
    margin: auto 0;
}
.member-container {
    box-sizing: border-box;
    align-items: start;
    background-color: rgba(81, 171, 59, 0.15);
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 50px 80px;
}

.member-title {
    box-sizing: border-box;
    color: #3f6735;
    margin-top: 6px;
    font: 900 25px Inter, sans-serif;
}

.row {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    padding: 0 60px 0 60px;
    flex-wrap: wrap;
}

.members-box {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px 0 rgba(171, 190, 209, 0.2);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    padding: 50px 15px;
    margin: 20px;
}

.member-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 40px;
    overflow: hidden;
    margin-top: 55px;
    max-width: 100%;
}
.member-name {
    box-sizing: border-box;
    align-self: auto;
    color: #4caf4f;
    text-align: center;
    margin-top: 15px;
    white-space: nowrap;
    font: 700 23px/115% Inter, sans-serif;
}

.member-id {
    color: #000;
    text-align: center;
    align-self: stretch;
    white-space: nowrap;
    margin: 8px 0 33px;
    font: 700 14px/129% Inter, sans-serif;
}

@media (max-width: 991px) {
    .member-name {
        white-space: initial;
    }
    .member-id {
        white-space: initial;
    }
    .member-icon {
        margin-top: 40px;
    }
    .row {
        max-width: 100%;
        padding: 0 20px;
    }

    .member-container {
        max-width: 100%;
        padding: 0 20px;
    }

    .persona-content {
        max-width: 100%;
    }

    .persona {
        max-width: 100%;
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .persona-container {
        max-width: 100%;
        padding: 0 20px;
    }

    .function-text {
        max-width: 100%;
        margin-top: 40px;
    }
    .func-text-container {
        width: 100%;
    }
    .func-img-container {
        margin-top: 40px;
    }
    .inner-function-container {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
    .outer-function-container {
        max-width: 100%;
        padding: 0 20px;
    }
    .functions {
        max-width: 100%;
        padding: 0 20px;
    }
    .mission-titles {
        white-space: initial;
    }
    .mission-header {
        padding-right: 20px;
    }
    .mission-box {
        margin-top: 40px;
    }
    .column {
        width: 100%;
    }
    .mission-holder {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
    .mission-title {
        white-space: initial;
    }
    .nav-buttons {
        max-width: 100%;
        flex-wrap: wrap;
    }
    .nav-bar {
        max-width: 100%;
        flex-wrap: wrap;
        padding: 0 20px;
    }
    .members-box {
        margin-top: 40px;
    }
}